.vscode/
_build/
draft/
Zn.exe
Zn.exe~
/Zn
zn.exe
zn.exe~
/zn
znt.exe
znt.exe~
/znt
zinc-devtool.exe
zinc-devtool.exe~
/zinc-devtool
zinc.exe
zinc.exe~
/zinc
zinc-server.exe
zinc-server.exe~
/zinc-server
zinc-playground.exe
zinc-playground.exe~
/zinc-playground
coverage.out
.idea
.VSCodeCounter